:root{
  --body-background:white;
  --title:black;
  --primart:blue;
}
 

[data-theme='light']{
    --body-background: white;
    --title: black;
    --primart: blue;
}
[data-theme='dark'] {
  --body-background:black;
  --title: white;
  --primart: rgb(97,97,255);
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
